body {
  padding-top: 100px;
  background-color: #f8f9fa;
}
.index-header {
  padding: 40px 15px; /* 40px top, 15px bottom(?)*/
  text-align: center;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}